'menu': [
  {
    'label': 'View'
    'submenu': [
      'label': 'Components'
      'submenu': [
        { 'label': 'Trade History', 'command': 'trade-history:create-trade-history' }
      ]
    ]
  }
]

'context-menu':
  '.symbol-explorer .market': [
    {label: 'Open Trade History', command: 'trade-history:create-trade-history'}
  ]

