@import "variables";
@import "ui-variables";

.trade-history
{
    display: flex;
    flex-direction: column;

    .scale-bar
    {
        background-color: fade(@primary-color-down, 60%);
        min-width: 2px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;

        &.buy
        {
            background-color: fade(@primary-color-up, 60%);
        }
    }

    .via-table
    {
        background-color: @pane-background-color;
        display: flex;
        flex-direction: column;
        flex: 1;

        .tbody
        {
            padding: 2px 0;
            overflow: auto;
            flex: 1;

            .td
            {
                font-size: 11px;
                font-weight: 700;
                color: fade(@text-color-subtle, 40%);
                text-align: right;
                padding: 0 10px;
                -webkit-font-smoothing: antialiased;

                span
                {
                    color: #FFF;
                }
            }

            .tr
            {
                height: 16px;
            }
        }

        .td.price
        {
            &.sell
            {
                color: @primary-color-down;
            }

            &.buy
            {
                color: @primary-color-up;
            }
        }

        .td.scale
        {
            position: relative;
            flex: 0.7;
        }

        .td.time
        {
            color: @text-color;
        }
    }
}
