@import "variables";
@import "ui-variables";

@trade-history-header-height: 24px;
@trade-history-border-width: 1px;

.trade-history
{
    display: flex;
    flex-direction: column;

    .thead
    {
        display: flex;
        height: @trade-history-header-height + 1;
        line-height: @trade-history-header-height;
        background: @header-background-color;
        border-bottom: 1px solid @header-border-color;

        .th
        {
            flex: 1;
            font-size: 11px;
            // font-weight: 700;
            font-family: @font-family;
            color: @text-color-subtle;
            padding: 0 10px;
            text-align: right;
        }
    }

    .trade-history-table
    {
        flex: 1;
        overflow: auto;
    }

    .scale-bar
    {
        background-color: fade(@primary-color-up, 60%);
        min-width: 2px;
        height: 18px;

        &.buy
        {
            background-color: fade(@primary-color-down, 60%);
        }
    }

    .via-table
    {
        min-height: 100px;
        background-color: @pane-background-color;
        padding-top: 4px;

        .tr
        {
            height: 18px;
        }

        .td
        {
            font-size: 13px;
            font-weight: 700;
            font-family: @font-family-serif;
            color: fade(@text-color-subtle, 40%);
            text-align: right;
            padding: 0 10px;

            span
            {
                color: #FFF;
            }
        }

        .td.price
        {
            &.sell
            {
                color: @primary-color-up;
            }

            &.buy
            {
                color: @primary-color-down;
            }
        }

        .td.scale
        {
            padding: 0;
        }
    }
}
